/* CSS */
body{
  background-image: url(paper.png); font-family: arial;
}
u{
  font-size: 22px
}
h2{
  font-size: 30px;
  line-height: 29px;
}
h1{
  font-size: 60px;
  line-height: 50px;
}
.uglyboi{
  color: #588F93
}
h3{
  line-height: 0px
}
header{
color: #588F93;  background-color: #588F93
}
footer{
  color: #588F93; background-color: #588F93;
}
.pxbox {
position:absolute; top: 0px; right: 0px; left:0px; margin:0px auto;
}
.pxbox2 {
position:absolute; bottom: -70px; right: 0px; left:0px; margin:0px auto;
}
