nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, nav li a:focus{

  text-decoration: underline;
}
p{
  font-size: 25px;
  padding: 10px;
  text-indent: 5%;

}
body{
  background-color: #111;
  color:#D7E2F2;
  margin: 20px 10%;
  font-family:verdana;
}
header{
}
h1{
  margin-top:0
}
.icon{
float: left;
display: table;
text-align: left;
width: 65px;
height:65px;
}
.socialmedia{

}
.current {
  text-decoration: underline;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 174%;
  height: auto;
margin-top: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 174%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: .5;
}
.container:hover .text {
  opacity: 1;
  top:95%;
  transition:.5s ease;
}

.imgtext {
  color: #111;
  font-size: 20px;
  position: absolute;
  bottom:.5%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:1;
  width:100%;
  font-family: verdana;
}
main#projects{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "left right"
}
.left{
  grid-area: left;
}
.right{
  grid-area: right;
}
div.headshot img{
  height: auto;
  width: 15%;
  float: left;
  padding: 10px;
}
