nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #304159;
}
p{
  font-size: 25px;

}
body{
  background-color: #111;
  color:#D7E2F2;
  margin: 20px 10%;
}
header{
}
h1{
  margin-top:0
}
div{
  margin:8em;
  column-count: 2
}
.icon{
float: left;
display: table;
text-align: left;
width: 45px;
height:45px;
}
