nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #082959 ;
  position: sticky;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #304159;
}
p{
  font-size: 50px;

}
body{
  background-color: #111;
  color:#D7E2F2;
}
header{
  background-color:#5A78A6;
}

body{
  margin:0;
  padding:0;
}
h1{
  margin-top:0
}
